#body {
  background-color: black; 
}
.dorsa-regular {
  font-family: "Dorsa", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling for anchor links, but not directly for our custom logic */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}